<div class="row">
    <div class="col-md-12">
        <h2>{{employees.firstName}} {{ employees.lastName}} - Employee: {{ employees.employeeNum}}</h2>
        <hr />
        <form method="post" action="/employee/update">
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                                <input class="form-control" id="firstName" name="firstName" type="text" value="{{
employees.firstName}}" />
                            </div>
                         </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName">Last Name:</label>
                                <input class="form-control" id="lastName" name="lastName" type="text" value="{{
employees.lastName}}" />
                             </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
            </form>
        </div>
</div>
